@import "../../Common/Style/Main.scss";
@mixin form-control {
    font-size: 16px;
    padding: 10px 15px;
    transition: all 0.5s ease-out;
}
.form-group {
    display: grid;
    grid-template-columns: auto 35px;
    align-items: center;
    column-gap:5px;
    .input--new-todo {
        @include form-control;
        width: 100%;
        border: none;
        @include bg-primary;
        color:#f1f1f1;
        &:focus {
            outline: none;
        }
        &::placeholder{
            color:#fafafa;
        }
    }
    .submit--new-todo {
        @include form-control;
        border: none;
        cursor: pointer;
        padding:0;
        transition: all 0.25s linear;
        background-color: transparent;
        color: white;
        line-height:0;
        &:focus {
            outline: none;
        }
        img{
            width:100%;
            height:auto;
        }
    }
}
