@mixin form-control {
    font-size: 16px;
    padding: 10px 15px;
    transition: all 0.5s ease-out;
}
.form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .input--new-todo {
        @include form-control;
        width: 100%;
        border:none;
        background-color:#ddd;
        &:focus {
            outline: none;
            background-color:lightgreen;
        }
    }
    .submit--new-todo {
        @include form-control;
        border:none;
        cursor: pointer;
        transition:all .25s linear;
        background-color: green;
        color:white;
        &:focus{
            outline:none;
        }
        &:hover{
            background-color:lightgreen;
        }
    }
}
