@import "../../Common/Style/Main";
footer {
    @include bg-primary;
    padding: 10px 0px;
    color: #000;
    font-weight: 600;
    p {
        font-size: 14px;
        text-align: center;
    }
}
